.intro-header .page-heading h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

.br-on-mobile {
  display: none;
}

.navbar-toggle {
  margin-right: 8px;
}

.post-meta {
  display: none !important;
}

.container[role="main"] {
  margin-top: -30px;
}

.navbar-custom .avatar-container .avatar-img-border,
.navbar-custom .avatar-container .avatar-img {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

/* Mobile-specific things */
@media only screen and (max-width: 768px) {
  .br-on-mobile {
    display: inherit;
  }

  .navbar-custom {
    min-height: 65px;
  }
}

footer {
  padding: 0 0 30px 0;
}
